/* Styling for HyperionDev Bootcamp - level 3 task 15 - capstone project - blog */
/* Misc styles */
body {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
}

.beachImg,
.pcImg {
  width: 16rem;
  margin-bottom: 1rem;
  border: 1px solid #6f5f5d;
}

.redText {
  color: red;
}

/* Main container "app" */
/* Learned how to push footer to bottom of page here: 
https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header styles */
.logo {
  height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  /* background-color: #282c34; */
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #dedede;
  padding-top: 0.5rem;
}

.logoAndHeading {
  display: flex;
  flex-direction: row;
}

/* Styling for Menu */
.menuDiv {
  display: flex;

  margin-right: 1rem;
  margin-left: auto;
}

.menuDiv ul {
  margin: 0;
  padding: 0;
}

.menuDiv li {
  display: inline;
  margin: 0rem 0.5rem;
  color: blue;
}

.menuDiv a {
  text-decoration: none;
}

.menuDiv a:hover {
  text-decoration: underline;
}

/* End of styling for menu ------------------------------*/

/* Div for area just under header. Includes breadcrumbs and login status message */
.underHeader {
  display: flex;
  align-items: center;
}

/* Breadcrumbs just under header */
.breadCrumbs {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.breadCrumbs p {
  margin: 0;
  padding: 0;
  display: inline;
}
/* End of breadcrumbs -------------------------------- */

/* Div for login status message */
.loginStatusDiv {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.loginStatusDiv p {
  margin: 0;
  padding: 0;
  display: inline;
  margin-right: 1rem;
}

/* Elements of main part of page */
.bodyDiv {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 1rem 0rem 0rem 0rem;
}

.loginDiv {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

.registerDiv {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

.createPostDiv {
  display: flex;
  flex: 3;
  flex-direction: column;
  padding: 0rem 1rem;
  margin: 0rem 1rem 0rem 1rem;
}

.leftPanel {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-right: 1px solid #dedede;
  border-top: 1px solid #dedede;
  background-color: #f9fbfa;
}

.centerPanel {
  display: flex;
  flex: 3;
  flex-direction: column;
  padding: 0rem 1rem;
  margin: 0rem 1rem 0rem 1rem;
  /* border: 1px solid red; */
}

.rightPanel {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem;
  /* border: 1px solid red; */
  border-left: 1px solid #dedede;
}

/* ------------------------------------------ */

/* Blog post styles  */
.post {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0rem 1rem 1rem 1rem;
  border: 1px solid #dedede;
}

.author {
  text-align: right;
  font-size: 0.9rem;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
}

.postBody {
  margin-top: 1rem;
}

/* --------------------------------------- */

/* Footer styles */
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-top: 1px solid #dedede;
}

.footer p {
  display: inline;
  margin: 0;
  padding: 0;
}
